<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated world -->
      <package
            uri="http://www.example.org/world"
            class="tp.metaprog2.world.WorldPackage"
            genModel="model/world.genmodel"/>
   </extension>

</plugin>
